body {
	font: 13px/24px "PT Sans Regular", sans-serif;
	color:#000;
}

h2 {
	font: 30px/30px "Cuprum Regular", sans-serif;
	color:#32425c;
}

h3 {
	font: bold 18px/20px "PT Sans Bold", sans-serif;
	color:#000;
}